@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
}

html,
body,
#root,
#__next {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 34px;
  }

  a {
    color: #121212;
    text-decoration: underline;
    font-size: 20px;
  }
}
